rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /covers/{fileName} {
      allow read: if true;

      // Replace YOUR_ADMIN_UID with your Firebase Auth user UID
      // (Authentication > Users tab in the Firebase console).
      allow write: if request.auth != null && request.auth.uid == "o4SEhLGosAVha1U3CFzsQ5eAcRP2";
    }
  }
}
